.quick-nav ul
{
    list-style-type: none;
    text-align: right;
}

#weekly-schedule td.notes {
    font-size: 0.8em;
}

.syllabus-icon img,
.col-sm-1 img,
.fit-image img { width: 100%; }

.do { background: #D8FFD2; }
.dont { background: #FFD2D7; }
.maybe { background: #FFEC85; }

.course-description-stuff { font-size: 10pt; }
.course-description-stuff p { margin-top: 0 !important; margin-bottom: 0 !important; }
.course-description-stuff h3 { font-size: 10pt; font-weight: bold; margin-top: 10px; }

.changing-field { background: #D2EDFF; }

.pronouns { font-size: 0.9em; }

.invisible { display: none; }

.uml { border: solid 1px #000; font-family: monospace; background: #FEFFE0; width: 100%; }
table.uml tr td,
table.uml tr th { padding: 5px; }

table.uml tr th { text-align: center; }
ol li ol {
  list-style-type: lower-alpha;
}

.math {
    font-size: 1.2em;
    font-family: serif;
    font-style: italic;
}

pre.program-output {
    background: #3A3A3A;
    color: #ffffff;
    padding: 5px;
    border: outset 5px #aaa;
}

pre.text-output {
    border: outset 5px #aaa;
    padding: 5px;
}

.build-and-run {
    text-align: center;
    border: solid 5px #ADA536;
    background: #FFFCCB;
    padding: 5px;
    margin: 10px;
}

.hint {
    text-align: center;
    border: solid 5px #2C701A;
    background: #D7FFCB;
    padding: 5px;
    margin: 10px;
}

.extraneous {
    border: solid 5px #3676AD;
    background: #CBE7FF;
    padding: 5px;
    margin: 10px;
}

.protip {
    border: solid 5px #AD9424;
    background: #FFF387;
    padding: 5px;
    margin: 10px;
}

.exercise h3 {
    background: #8C50CB;
    color: #fff;
    padding: 5px;
}

.exercise h3 a {
    color: #fff;
}

.exercise h4 {
    background: #E2DEE6;
    padding: 5px;
    margin-top: 100px;
}

.exercise h5 {
    margin-top: 50px;
}

.hint-box
{
}

.hint-box .click-to-expand
{
    background: #D7FFCB;
    padding: 2px;
    cursor: pointer;
    border: solid 1px #2C701A;
}

.hint-box .hint-contents 
{
    display: none;
}

.center
{
    text-align: center;
}




@media print{

}
